/* Estilos generales */
body {
    font-family: Arial, sans-serif; /* Fuente del texto */
}

h1 {
    color: #333; /* Color del título principal */
}

h2 {
    color: #555; /* Color de los subtítulos */
}

input[type="text"] {
    padding: 8px; /* Espacio interno de los campos de entrada */
    margin-bottom: 10px; /* Espacio inferior entre campos */
    width: 200px; /* Ancho de los campos de entrada */
}

button {
    background-color: #007bff; /* Color de fondo del botón */
    color: #fff; /* Color del texto del botón */
    padding: 10px 20px; /* Espacio interno del botón */
    border: none; /* Sin borde */
    border-radius: 5px; /* Borde redondeado */
    cursor: pointer; /* Cambiar el cursor al pasar el ratón */
    margin-bottom: 10px; /* Espacio inferior entre botones */
}

button:hover {
    background-color: #0056b3; /* Color de fondo al pasar el ratón */
}

table {
    width: 80%; /* Ancho completo de la tabla */
    border-collapse: collapse; /* Fusionar bordes de las celdas */
    margin-bottom: 20px; /* Espacio inferior entre tablas */
}

th, td {
    border: 1px solid #ddd; /* Borde de las celdas */
    padding: 8px; /* Espacio interno de las celdas */
    text-align: center; /* Alinear contenido al centro */
}

th {
    background-color: #f2f2f2; /* Color de fondo del encabezado de la tabla */
}

/* Estilos para el formulario de edición */
.edit-form {
    margin-bottom: 20px; /* Espacio inferior del formulario */
}

/* Estilos para el botón de volver al panel */
.panel-button {
    background-color: #28a745; /* Color de fondo del botón */
    margin-top: 20px; /* Espacio superior del botón */
}

.panel-button:hover {
    background-color: #218838; /* Color de fondo al pasar el ratón */
}
