/* estilos_registro.css */

/* Estilos para el cuerpo de la página */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

/* Estilos para el contenedor principal */
main {
    width: 400px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* Estilos para el encabezado */
nav {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    color: #333;
}

/* Estilos para el formulario */
form {
    text-align: center;
}

label {
    display: block;
    margin-bottom: 10px;
    color: #666;
    text-align: left; /* Alinear el texto a la izquierda */
}

input[type="text"],
input[type="e-mail"],
input[type="password"] {
    width: 100%; /* Ajustar el ancho al 100% */
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

/* Estilos para el enlace de login */
h4 {
    margin-top: 20px;
}

h4 a {
    color: #007bff;
    text-decoration: none;
}

h4 a:hover {
    text-decoration: underline;
}

